.TodoItemLoading {
    background-color: #FAFAFA;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
    animation: ghostLoad .5s infinite alternate;
    opacity: 0.7;
  }
  
  /* Animación de carga */
  @keyframes ghostLoad {
    0% {
      opacity: 0.0;
    }
    100% {
      opacity: 1;
    }
  }

  
  
  
  .TodoItemLoading-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(32, 35, 41, 0);
  }